
test_hypot_old2
test_hypot_old
test_hypot_new

test_hypot

# LateX
*.aux
*.log
*.out
*.xtr
*.synctex.gz
std-gram.ext

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
